@import "../mixin";
.advertise-slide {
  &__page {
    &-underline {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        right: 0px;
        top: 33px;
        display: block;
        width: 250px;
        height: 14px;
        border-top: 4px solid #0955a1;
        border-radius: 40% / 100% 100% 0 0;
      }
    }
  }
  @include desktop-first(500px) {
    &__page {
      font-size: 24px;
      &-underline {
        &::after {
          display: none;
        }
      }
    }
  }
}
